$salmon: rgb(250, 180, 114);


.app{
    display:flex;
    justify-content: center;
 

    .container{
        width: 100%;

        .link{
            text-decoration: none;
            color: inherit;
            padding: 10px;

        }

        img{
            align-self: center;
        }
    
        //login and register
        .auth{
            display: flex;
            flex-direction:column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $salmon;
        }

        h1{
            font-size: 25px;
            color: rgb(12, 70, 112);
            margin-bottom:20px;
        }

        form{
            display:flex;
            flex-direction: column;
            padding: 40px;
            background-color: white;
            width: 200px;
            gap: 13px;
        }

        input{
            padding: 10px;
            border: none;
            border-bottom: 1px solid gray;
        }


        button{
            padding: 10px;
            background-color:rgb(12, 70, 112);
            color: white;
            border: none;
            cursor: pointer;
        }

        p{
            font-size: 12px;
        }

        span{
            font-size: 12px;
            text-align: center;
        }
        .navbar{
            .container{
                padding: 10px 0px;
                display: flex; 
                justify-content: space-between;
                .logo{
                }
                .links{
                    display:flex;
                    gap: 10px;
                }
                h6{
                    font-size: 16px;
                    font-weight: 600;
                }
                span{
                    cursor: pointer;
                    background-color: white;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 30px;
                }
                .write{
                    background-color: $salmon;
                    margin-right: 30px;
                    width: 50px;
                    height: 30px;
                    border-radius: 4%;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;

                    &:hover{
                        background-color:rgb(12, 70, 112);
                        color: white;
                    }
                }
            }
        }

        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: $salmon;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            img{
                height: 40px;
            }
        }

        .home{

            .posts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                gap: 150px;
            }
            .post{
               display: flex; 
               gap: 100px;

               img{
                flex: 2;
                img{
                    width: 100%;
                }
               }
               .content{
                flex: 3;
               }
            }
        }

    }



}